footer
  .wrapper
    img.logo_footer(src='/img/logo_footer.png', alt='Coooe', title='')
    p.rights
      | © 2020 coooe.com -
      a(href='http://www.beian.miit.gov.cn', target='_blank', title='备案') 渝ICP备15001052号-5 &ensp;
      a(href='/sys') SYS
      // <ul class="social_profiles">
      // <li class="f"><a href="#" target="_blink"></a></li>
      // <li class="t"><a href="#" target="_blink"></a></li>
      // <li class="be"><a href="#" target="_blink"></a></li>
      // <li class="d"><a href="#" target="_blink"></a></li>
      // </ul>
      // Footer End
