include default/head
section.main.wrapper
  article
    .article_image
      a(href='#')
        img(src='img/pic1.jpg', alt='', title='')
    .post
      h1.title
        a(href='#') Duis aute irure dolor in henderit in voluptate.
      p
        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat,
        | sunt in culpa qui officia deserunt mollit anim id est laborum.
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
      a.read_more(href='#')
        | Continue Reading
        i.read_more_arrow
  article
    .article_image
      a(href='#')
        img(src='img/pic2.jpg', alt='', title='')
    .post
      h1.title
        a(href='#') Duis aute irure dolor in henderit in voluptate.
      p
        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat,
        | sunt in culpa qui officia deserunt mollit anim id est laborum.
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
      a.read_more(href='#')
        | Continue Reading
        i.read_more_arrow
  article
    .article_image
      a(href='#')
        img(src='img/pic3.jpg', alt='', title='')
    .post
      h1.title
        a(href='#') Duis aute irure dolor in henderit in voluptate.
      p
        | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commo doconsequat,
        | sunt in culpa qui officia deserunt mollit anim id est laborum.
      p
        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur...
      a.read_more(href='#')
        | Continue Reading
        i.read_more_arrow
  nav.pagination
    a.previous(href='#')
      i
      | Previous
    a.next(href='#')
      | Next
      i
    // Pagination End
    // Main End
include default/footer
