footer
  .wrapper
    img.logo_footer(src='/img/logo_footer.png', alt='Coooe', title='')
    p.rights
      | © coooe.com 2020~2022&emsp;
      a(href='https://beian.miit.gov.cn', target='_blank', title='备案') 渝ICP备15001052号-5 &emsp;
      a.beian(href='http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010802040030', target='_blank', title='公安网备') 
        img(src='/img/beian.png',  alt='Coooe', title='')
        | &ensp;京公网安备 11010802040030号 &emsp;
      a(href='/sys') SYS
      // <ul class="social_profiles">
      // <li class="f"><a href="#" target="_blink"></a></li>
      // <li class="t"><a href="#" target="_blink"></a></li>
      // <li class="be"><a href="#" target="_blink"></a></li>
      // <li class="d"><a href="#" target="_blink"></a></li>
      // </ul>
      // Footer End
